ul,h5,h4{
  margin: 0;
}
ul{
  padding: 0;
  list-style: none;
}
/*TODO：现在博客的样式互相会影响，后期去掉*/
.boardBox ul li{
  margin-right: 0;
}

.flex{
  display: flex;
  justify-content: center;
}
.boardBox{
  width: 25%;
  margin: 0 1.5em;
  flex-flow: column;
}
.boardBox:first-child{
  margin-left: 0;
}
.boardBox>ul.flex{
  height: 32em;
  flex-flow: column;
}

.boardUnit{
  height: 6em;
}
.boardUnit ul{
  border: 1px solid #ccc;
  position: relative;
  height: 3em;
  box-sizing: border-box;
}
.boardUnit ul:after{
  content: '';
  width: 1.5em;
  height: 2.3em;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: absolute;
  top: calc(50% + 1px);
  right: calc(-1.5em - 1px);
}
.boardUnit.up ul:after{
  transform: rotate3d(1, 0, 0, 180deg);
  transform-origin: top;
  top: calc(50% + 2px);
  height: 2.1em;
}
.boardUnit ul li{
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
  line-height: 1.5em;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.boardUnit ul li:before{
  content: '';
  width: 1.5em;
  height: 1px;
  background: #ccc;
  position: absolute;
  left: calc(-1.5em - 1px);
  top: calc(50% + 1px);
}
.boardUnit ul li:last-child{
  border: none;
}
.first .boardUnit ul li:before, .last .boardUnit ul:after{
  display: none;
}
.second .boardUnit ul:after{
  height: 5.3em;
}
.second .boardUnit.up ul:after{
  height: 5.1em;
}