.switch {
  border: none;
  width: 60px;
  line-height: 24px;
  border-radius: 12px;
  position: relative;
  padding: 0 10px;
  color: #fff;
  background: #329da3;
  transition: all 0.5s;
  cursor: pointer;
  text-align: left;
  outline: none;
}

.switch__btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: 2px;
  top: 2px;
  transition: right 0.5s;
  color: #329da3;
}

.close {
  background: #feae23;
  text-align: right;
}

.close .switch__btn {
  right: 38px;
}

.switch__btn_loading {
  animation: ani-loading 1s linear infinite;
  /* 这里可以放一个loading icon */
  border-bottom: 1px solid #329da3;
}

.loading {
  opacity: .5;
}

@keyframes ani-loading {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}