.switch{
  border: none;
  width: 60px;
  line-height: 24px;
  border-radius: 12px;
  position: relative;
  padding: 0 10px;
  color: #fff;
  background: #009beb;
  transition: all 0.5s;
  cursor: pointer;
  text-align: left;
}
.switch::before{
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: 2px;
  top: 2px;
  transition: right 0.5s;
}
.close{
  background: #feae23;
  text-align: right;
}
.close::before{
  right: 38px;
}