$main-color: #1c94d2;
$main-color2: #ececec;
$bg-color: #ececec;
* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  color: $main-color;
}
h1,
h2,
h3 {
  font-weight: normal;
}
body {
  background: #ececec;
}
html,
body {
  height: 100%;
  font-family: 'AvenirNext', 'PingHei', 'Helvetica Neue', 'Helvetica', 'Arial', 'Verdana',
    'sans-serif';
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  letter-spacing: 0.4px;
}
.font-thin {
  font-weight: 100;
}
.font--color-main {
  color: $main-color;
}
.text-right {
  text-align: right;
}
.padding--bottom-20 {
  padding-bottom: 20px;
}
.margin--bottom-80 {
  margin-bottom: 80px;
}
.font--size-small {
  font-size: 12px;
}

// layout
.cv {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  transform: translateY(0);
  background: #fff;
  height: 100%;
  overflow: hidden;
  .info {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    background: $main-color;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow: scroll;
    padding-bottom: 80px;
  }
  .content {
    padding: 45px 40px 40px 290px;
    height: 100%;
    overflow-y: scroll;
  }
}

// left: basic info
.info--line {
  border-left: 1px solid #fff;
  padding-left: 15px;
}
.info__title {
  position: relative;
  padding: 10px 10px 10px 0;
  font-size: 16px;
  background: $main-color;
  display: inline-block;
  &:before {
    content: '';
    width: 11px;
    height: 11px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: -21px;
    top: 15px;
  }
  &:after {
    content: '';
    width: 300px;
    border-top: 2px solid #fff;
    position: absolute;
    right: -300px;
    top: 21px;
  }
}
.info__basic {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
  .photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: 0 auto;
  }
  .name {
    font-size: 24px;
  }
  .intro {
    font-size: 14px;
    color: $main-color2;
  }
}
.info__connect a {
  display: block;
  color: #fff;
}

// components
.progress {
  width: 90%;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  position: relative;
  margin: 5px 0 10px;
  .progress__dragbar {
    display: inline-block;
    width: 8px;
    height: 9px;
    border: 3px solid $main-color;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    margin-left: -13px;
  }
}
.table {
  display: table;
  .row {
    display: table-row;
  }
  .cell {
    display: table-cell;
    padding-bottom: 20px;
  }
  .cell:first-child {
    white-space: nowrap;
    padding-right: 15px;
    text-align: right;
    font-weight: 500;
    min-width: 160px;
    font-size: 14px;
  }
  .cell:nth-child(2) {
    font-weight: 300;
  }
}

// right: content
.content__title {
  font-weight: 500;
  border-bottom: 2px solid #000;
  font-size: 18px;
  line-height: 2;
  padding-left: 10px;
  margin-bottom: 30px;
}
.content__title2 {
  .cell {
    padding-bottom: 5px;
  }
  .cell:nth-child(1) {
    font-size: 16px;
  }
  .cell:nth-child(2) {
    font-weight: 500;
  }
}

@media (max-width: 600px) {
  .cv {
    max-width: 100%;
  }
}