/* header */
.header{
  padding: 10px 5%;
  position: relative;
  box-sizing: border-box;
  line-height: 50px;
}
.header_nav .menu-item{
  display: inline-block;
  margin-right: 30px;
}
.header_nav .menu-item:last-child{
  margin: 0;
}
.header_nav .current-menu-item{
  border-bottom: 2px solid #f0484c;
}
.header_nav a{
  display: block;
  cursor: pointer;
}
@media (max-width: 600px) {
  .header_info{
    padding: 0 5%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    text-align: center;
    border-bottom: 2px solid #f0484c;
    background: #fff;
  }
  .header_nav{
    position: fixed;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
    z-index: 999;
    transition: bottom 0.6s;
    overflow: hidden;
  }
  .header_nav .menu{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -100px;
  }
  .header_nav .menu-item{
    display: block;
    margin: 0;
  }
  .header_nav .current-menu-item{
    border: 0;
  }
  .expanded .header_nav{
    bottom: 0;
  }
}