/* header */
.header{
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  box-sizing: border-box;
  line-height: 50px;
  min-height: 50px;
}
.header__nav .menu-item{
  display: inline-block;
  margin-right: 3em;
}
.header__nav .menu-item.current-menu-item{
  border-bottom: 2px solid #de4c4f;
}
.header__nav a{
  color: #666;
  text-decoration: none;
}
.header__nav .menu-item:last-child{
  margin: 0;
}
@media (max-width: 600px) {
  .misssi .burger .bar{
    background: #fff;
  }
  .misssi .header__info{
    color: #fff;
  }
  .misssi .header__nav a{
    color: #777;
  }
  .misssi .header__info{
    border: none;
  }
  .burger{
    position: relative;
    width: 20px;
    height: 50px;
    float: left;
  }
  .burger .bar{
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ccc;
    top: 19px;
    transition: all 300ms;
  }
  .burger .bar:nth-child(2){
    transform: translateY(8px);
  }
  .header.expanded .burger .bar{
    background: #ccc;
  }
  .header.expanded .burger .bar:nth-child(1){
    transform: translateY(5px) rotate(45deg);
  }
  .header.expanded .burger .bar:nth-child(2){
    transform: translateY(5px) rotate(-45deg);
  }
  .header__info{
    padding: 0 5%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    text-align: center;
    border-bottom: 2px solid #de4c4f;
  }
  .header.expanded .header__info a{
    color: #777;
  }
  .header__nav{
    position: fixed;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
    z-index: 999;
    transition: bottom 0.6s;
    overflow: hidden;
  }
  .header.expanded .header__nav{
    bottom: 0;
  }
  .header__nav .menu{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -100px;
  }
  .header__nav .menu-item{
    display: block;
    margin: 0;
  }
  .header__nav a{
    color: #777;
    display: block;
    cursor: pointer;
  }
  .header__nav a:hover,
  .header__nav a:active,
  .header__nav a:linked{
    color: #000;
  }
}