.post_info {
  margin: 100px 20px 20px;
  text-align: center;
}
.post_info h1{line-height: 2;}
.post_sidebar{
  float: left;
  margin: 80px 100px 0 0;
}
.post_content{
  max-width: 880px;
  margin-bottom: 100px;
}
.post_form{
  max-width: 440px;
  margin: 35px auto 15px;
  position: relative;
}
.post_form input[name="s"]{
  color: #3d464d;
  display: block;
  width: 100%;
  padding: 8px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.post_form input[type="submit"]{
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  background: url(../images/search.svg) no-repeat center;
  background-size: 55%;
  top: 0;
  border: none;
}
/* content */
.post_title a,
.post_title{
  color: #263238;
}
.post_content{
  overflow: hidden;
}
.post_detail a{
  color: #de4c4f;
  letter-spacing: .3px;
}
/* sidebar */
.post_sidebar{
  float: left;
  margin: 100px;
}
.cat-item{
  margin-bottom: 10px;
}
.cat-item a{
  font-size: 20px;
  letter-spacing: 0.3px;
  font-weight: 150;
  padding-right: 10px;
  display: block;
  line-height: 1.7;
  }
}
.cat-item a:hover{
  color: #de4c4f;
}
.cat-item .children{
  padding-left: 10px;
}
.cat-item .children .cat-item{
  margin-bottom: 0;
}
.cat-item .children .cat-item a{
  font-size: 18px;
  color: #888;
}
.current-cat-parent>a,
.current-cat>a{
  border-right: 2px solid #de4c4f;
  color: #000;
  font-weight: 300;
}
.cat-item .children .current-cat>a{
  border: none;
  color: #000;
}