html{
  background: #fff;
  color: #333;
}
ul{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
ul li{
  display: inline-block;
  margin-right: 1em;
}
ul li:last-child{
  margin-right: 0;
}
h1, p{
  margin: .5em 0;
}

.container{
  width: 640px;
  margin: auto;
  padding-bottom: 9em;
  position: relative;
}
.highLight{
  color: #3294a3;
}
a{
  text-decoration: none;
  color: #444;
}
a:hover{
  text-decoration: underline;
  color: #3294a3;
}
.flex{
  display: flex;
}
.dark{
  color: #999;
}
@media (max-width: 640px) {
  .container{
    width: 90%;
  }
}
.f12{
  font-size: 12px;
}