html{
  background: #fff;
  color: #333;
}
ul{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
ul li{
  display: inline-block;
  margin-right: 1em;
}
ul li:last-child{
  margin-right: 0;
}

.container{
  width: 640px;
  margin: auto;
  padding-bottom: 9em;
  position: relative;
}
.highLight{
  color: #3294a3;
}
a.highLight{
  color: #000;
}
.dark{
  color: #999;
}
@media (max-width: 640px) {
  .container{
    width: 90%;
  }
}