.flex-evenly-2{
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
}
.flex-evenly-2:after{
  content: '';
  flex: 1;
  margin-right: 10px;
  min-width: 45%;
  max-width: 50%;
}
.flex-evenly-2-item{
  flex: 1;
  min-width: 45%;
  max-width: 50%;
}