footer{
  text-align: center;
  border-top: 1px solid #aaa;
  position: absolute;
  bottom: 0;
  width: 640px;
  left: 50%;
  margin-left: -320px;
  font-size: .8em;
  padding: 0 1em 3em;
  box-sizing: border-box;
}
@media (max-width: 640px) {
  footer{
    width: 100%;
    margin-left: -50%;
  }
  footer span{
    display: block;
  }
}