header{
  margin: 2em 0;
  text-align: center;
}
header img{
  width: 10em;
  height: 10em;
  display: block;
  margin: auto auto -4em;
  background: #fcfcfc;
}
header ul li a{
  color: #999;
  line-height: 1.2em;
}
